{% extends 'root_email_template_new.html' %}
{% load i18n %}

{% block preheader %}{% blocktrans %}{{ commented_by }} mentioned you in a comment{% endblocktrans %}{% endblock preheader %}

{% block heading %}{% blocktrans %}Hi {{ mentioned_user }},{% endblocktrans %}{% endblock heading %}

{% block content_body %}
<p style="margin:0 0 8px 0;">{% blocktrans %}{{ commented_by }} mentioned you in a comment.{% endblocktrans %}</p>
{% endblock content_body %}

{% block button_link %}
{% if url %}
<a class="btn-link" href="{{ url }}"
   style="display:inline-block;padding:14px 32px;background-color:#EA580C;color:#ffffff;text-decoration:none;border-radius:6px;font-size:16px;font-weight:600;line-height:1;">
  {% trans "View Comment" %}
</a>
{% endif %}
{% endblock button_link %}
